{
    "botToken": "YOUR_BOT_TOKEN_HERE",
    "botUrl": "https://discordapp.com/oauth2/authorize?&client_id=YOUR_CLIENT_ID_HERE&scope=bot&permissions=0",
    "commandPrefix: "/",
    "skillCheckEmoji": "skill_success",
    "rollSuccessUrl": "",
    "rollFailureUrl": "",
    "authorName": "",
    "authorIconUrl": "",
    "authorUrl": ""

}
